body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    color: #005f73;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
}

h1 {
    font-size: 2.5em;
    margin: 20px 0;
    color: #0096c7;
}

p {
    font-size: 1.2em;
    margin: 20px auto;
    color: #005f73;
    max-width: 800px;
    line-height: 1.6;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
}

.button {
    background-color: #0077b6;
    border: none;
    border-radius: 50px;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    width: 150px;
}

.button:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px rgba(0, 119, 182, 0.5);
}

.content {
    display: none;
    margin: 20px auto;
    max-width: 80%;
    text-align: left;
    position: relative;
}

.content.active {
    display: block;
}

.download-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #0077b6;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.download-btn:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px rgba(0, 119, 182, 0.5);
}

pre {
    background-color: #e0e0e5;
    padding: 20px;
    border-radius: 8px;
    color: #005f73;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 50px;
    font-family: "Courier New", Courier, monospace;
    border: 2px solid #0096c7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
        margin: 15px 10px;
    }

    .button-container {
        flex-direction: column;
    }

    .button {
        width: 100%;
        padding: 10px;
        font-size: 18px;
        margin: 5px 0;
    }

    .content {
        max-width: 95%;
        margin: 10px auto;
    }

    .download-btn {
        top: 5px;
        right: 5px;
        font-size: 12px;
        padding: 5px;
    }

    pre {
        padding: 15px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    .button {
        font-size: 16px;
        padding: 8px;
    }

    pre {
        font-size: 12px;
        padding: 10px;
    }
}
